body{ 
	background-image:url("../images/squared_metal.png") ;
	margin:0;
 }
header {
	background-color: #ffffff;
	height:110px;
	width:100%;
}

a {
	color: #777777;
	text-decoration: none;
}
a:hover {
	color:#4aaaa5;
}
.hfont {
	font-family:'Georgia', Times, Times New Roman, serif; 
	font-style:bold;
}
.pfont {
	font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.myname {
	float:left;
	background-color:#4aaaa5;
	width:20%;
	height:60px;
	padding-top:40px;
	margin:10px 0px 0px 92px;	
}
.name{
	text-align: center;
	font-size:25px;
	color:white;
}
.navtab {
	float:right;
	margin:50px 200px 0px 0px;
	color:#d3d3d3;
	width: 180px;
	text-decoration: none;	
}
.headdiv {
	height:1px;
	width:100%;
	background-color: #a9a9a9;

}
.main{
	width:960px;
}
.aboutmebody {
	float:left;
	margin-top:20px;
	margin-left:90px;
	background-color: white;
	width:50%;
	height:450px;

}
.portfoliobody {
	float:left;
	margin:20px 70px 0px 90px;
	background-color: white;
	width:400px;
	height:475px;	
}
.contactbody{
	float:left;
	background-color: white;
	width:440px;
	height:460px;
	margin:20px 0px 0px 90px;
}
.subhead{
	margin:0px 0px 0px 30px; 
	font-size:25px;
	color:#4aaaa5;
	padding:20px;
}
.divline{
	margin:0px 0px 0px 12px;
	width:95%;
	height:3px;
	background-color: #d3d3d3;
}
.profpic{
	transform:rotate(90deg);
	height:230px;
	width:200px;
	float:left;
	margin:0px 25px 0px 40px;

}
.biopara{
	margin:10px;
}

.deed{
	
	width: 125px;
	height:100px;
	float:left;
	margin:30px 0px 0px 50px;

}

.deedimg{
	width: 125px;
	height:100px;
	float:left;
}
.deedlabel{
	position:relative;
	float:left;
	bottom:20px;
	width:125px;
	color:white;
	background-color: #4aaaa5;
	text-align:center;	
}
form{
	margin:20px 30px 20px 30px;
}
.formp{
	color:#666666;
}
input{
	border:2px solid #d3d3d3;
	padding:5px;
	width:100%;
	margin:10px 0px 10px 0px;
	color:#d3d3d3;
}
textarea{
	margin:10px 0px 10px 0px;
	border:2px solid #d3d3d3;
	width:100%;
	height:200px;
}
.conwithme{
	float:left;
	background-color: white;
	width:270px;
	height:200px;
	margin: 20px 0px 0px 50px;
}
.conwithpara{
	padding:10px;
	text-align: center;
	color:#4aaaa5;
}
.conwithdiv{
	height:2px;
	width:95%;
	background-color: #d3d3d3;
	margin-left: 7px;
}
.icon{
	height:20%;
	width:20%;
	margin: 30px 0px 0px 25px;
}
.soicon{
	float:left;
}
.githubicon{
	float:left;
}
.linkedinicon{
	float:left;
}
.prefoot{
	position: absolute;
    left: 0;
    bottom: 50px;
	width:100%;
	height:5px;
	background-color: #4aaaa5;
	
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #666666;
    text-align: center;
}
.footp {
	padding:16px;
	color:white;
}
